* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#cursor {
    height: 12px;
    width: 12px;
    mix-blend-mode: difference;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    border-radius: 50%;
    position: absolute;
    background-color: white;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .bounding-elem {
    transform: translateY(100%);
}

#main {
    width: 100%;
    background-color: black;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    padding: 20px 40px;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#heading {
    margin-top: 30px;
}

#heading h1 {
    margin-left: 30px;
    font-size: 10vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
}

#heading .second-h1 {
    margin-left: 140px;
}

.blockText {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.blockText h5 {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.9;
    text-transform: uppercase;
}

#small-headings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 30px;
}

#small-headings h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1.1vw;
    text-align: right;
}

#hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

#hero-footer {
    width: 100%;
    padding: 0 2vw;
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-footer a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1vw;
}

#hero-footer #iconset {
    display: flex;
    gap: 5px;
}

#hero-footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #808080;
}

#second {
    /* width: 100%;
    height: 100vh; */
    background-color: black;
    padding-top: 140px;
    color: #fff;
    padding-right: 10vw;
}

.elem {
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7vw;
    opacity: 0.7;
}

.elem h6 {
    font-size: 1vw;
}

.elem-last {
    border-bottom: 1px solid #888;
}

.elem img {
    height: 140%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    position: absolute;
}

#about {
    display: flex;
    align-items: center;
    gap: 47px;
    padding: 10vw 10vw;
    padding-left: 35vw;
    width: 100%;
    color: white;
    background-color: black;
}

#text-about {
    width: 25rem;

}

#text-about h5 {
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#text-about p {
    line-height: 1.6;
    margin-bottom: 30px;
}

#text-about a {
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

#text-about a {
    font-size: 16px;
}

#about img {
    width: 200px;
    padding-bottom: 130px;
}

#subscribe {
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    color: white;
    background-color: black;

}

#footer-left {
    display: flex;
    gap: 20px;
}

#footer-right {
    display: flex;
    gap: 30px;
}

#footer a {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}       